body {
  background: url(https://images.unsplash.com/photo-1690983322857-0811d47fedfc?q=80&w=2102&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    blue;
  display: flex;
  font-family: "Poppins";
}

@media only screen and (min-device-width: 400px) {
  body {background: url(https://images.unsplash.com/photo-1690983322857-0811d47fedfc?q=80&w=2102&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    blue;
  }
header {
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 30px;
  align-items: center;
  height: 75px;
  padding: 1%;
  width: 100%vw;
  /* border: yellow solid 1px; */
}

nav {
  display: flex;
  position: absolute;
  top: 150px;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 1%;
  margin-bottom: 10%;
  /* background: rgba(0, 0, 0, 0.65); */
}

.login {
  display: flex;
  position: absolute;
  width: auto;
  top: 80px;
  right: 3%;
  font-family: "Poppins";
  color: white;
  padding: 5px;
  margin: auto;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 50px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  position: relative;
}

a.labels {
  margin: auto;
  padding: 10px;
  border: rgb(255, 255, 255) solid 0.5px;
  background-color: rgba(0, 0, 0, 0.4);
}

a:not(.labels) {
  font-size: 4.7em;
  color: white;
}

.labels:hover {
  background-color: rgba(255, 60, 0, 0.7);
}

.labels:active {
  background-color: rgba(177, 206, 11, 0.7);
}

span {
  padding: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.user {
  font-size: 1.3em;
  color: rgb(255, 255, 255);
}

section {
  display: flex;
  position: absolute;
  top: 120px;
  right: 120px;
}

.logo {
  position: relative;
  bottom: 12px;
  width: 7rem;
  /* border: red solid 1px; */
}
